@charset "UTF-8";

/*todas as demais mídias

Typical Device Breakpoints
    ? Pequenas telas: até 600px
    --------------------------------
    Celular:  600px até 768px
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    Grandes telas: 1200px ou mais
*/

@media print{ /* Impressão */
    * {
        font-family: 'Courier New', Courier, monospace;
    }
body {
    background-image: url(../imagens/back-print.jpg);  /*? Desnecessario em impressão */
    img#print {display: block;} /* mostrar imagem de impressão */
}

main {
    border: 2px solid black;
}

main::after { /* adicionar rodapé na impressão */
    content: " - Steven Oliveira -"; /* Conteúdo do rodapé */
    display: block;
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px;
    color: black;
}
main h1 {
    color: black;
    text-shadow: none;
}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body {
    background-image: url(../imagens/back-tablet.jpg);
    img#tablet {display: block;} /* mostrar imagem de tablet */
    img#phone {display: none;} /* esconder imagem de celular */
}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktop */
    body {
        background-image: url(../imagens/back-pc.jpg);
        img#pc {display: block;} /* mostrar imagem de PC */
        img#phone {display: none;} /* esconder imagem de celular */
}
}



@media screen and (min-width: 1200px) { /* Grandes telas */
    body {
        background-image: url(../imagens/back-tv.jpg);
        img#tv {display: block;} /* mostrar imagem de TV */
        img#phone {display: none;} /* esconder imagem de celular */
}
}