@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e border na largura e altura totais dos elementos */
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --fonte1: "Roboto", sans-serif;
}
body {
    background-color: #b8b8b8;
    color:#333333
}

header {
    position: fixed;
    top: 0;
    background-color: #222222;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
}

#burguer {
    margin: 0 -50px;
    background: rgb(0, 0, 0);
    color: white;
    display: block;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background: white;
    color: black;
    cursor: pointer;
}

menu {
    display: none;
}
#ico {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-family: var(--fonte1);
    display: flex;
    justify-content: left;
    align-items: left;
    

}
main {
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 20px;
    margin-top: 120px;
    box-shadow: 2px 5px 8px rgba(0, 0,0, 0.1);
    border-radius: 8px;
}
ul {
    padding-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
ul a{
    text-decoration: none;
    background: #007BFF;
    padding: 8px 15px;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 2ms;
}
ul a:hover{
    background: #0056b3;
    
}

#ia-google {
    font-family: var(--fonte1);
    color: #333333;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

h2 {
    color: black;
    font-family: var(--fonte1);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 20px;
}

h3 {
    font-family: var(--fonte1);
    color: #007BFF;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 20px;
}
a {
    font-family: var(--fonte1);
    color: #004896;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 5px;
    display: inline-block;;
    margin-left: 20px;
}
p {
    margin-top: 0.5rem;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
    font-family: var(--fonte1);
    text-indent: 20px; /* Indenta a primeira linha do parágrafo */
    text-align: justify; /* Justifica o texto para melhor leitura */
    padding: 10px;
}

footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}

@media screen and (min-width: 768px) { /* Estilos para telas maiores que 768px */
    #burguer { /* Esconde o ícone do menu hambúrguer em telas maiores */
        display: none !important; /* Usando !important para garantir que a regra seja aplicada */
    }
    menu { /* Mostra o menu em telas maiores */
        display: block !important; /* Usando !important para garantir que a regra seja aplicada */
    }
    menu ul {
        flex-direction: row; /* Alinha os itens do menu horizontalmente */
    }

    
    main {
        width: 768px; /* Define uma largura fixa para o conteúdo principal em telas maiores */
    }
}

@media screen and (max-width: 599px) { /* Estilos para telas menores que 600px */
    menu ul {
        flex-direction: column; /* Alinha os itens do menu verticalmente em telas menores */
        gap: 10px;
        text-align: center;
    }
    #ico{
        display: none;
    }

    ul a {
        background-color: transparent;
        transition: 300ms;
    }

}
