@charset "UTF-8";

/*? Configuraçoes Gerais */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain; /*! Ajusta o tamanho da imagem ao tamanho da tela */
    background-repeat: no-repeat; /*! Remove a repetição da imagem de fundo */
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #0d186d;
    padding: 10px;
}